@model Gadi.Models.DrivingSchoolViewModel

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.DrivingSchool.Name)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.DrivingSchool.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DrivingSchool.Name, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.DrivingSchool.Address1)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.DrivingSchool.Address1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DrivingSchool.Address1, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.DrivingSchool.Address2)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.DrivingSchool.Address2, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DrivingSchool.Address2, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.DrivingSchool.Address3)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.DrivingSchool.Address3, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DrivingSchool.Address3, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.DrivingSchool.Address4)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.DrivingSchool.Address4, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DrivingSchool.Address4, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.DrivingSchool.Pincode)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.DrivingSchool.Pincode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DrivingSchool.Pincode, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.DrivingSchool.Mobile)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.DrivingSchool.Mobile, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DrivingSchool.Mobile, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.DrivingSchool.Telephone)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.DrivingSchool.Telephone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DrivingSchool.Telephone, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.DrivingSchool.EmailId)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.DrivingSchool.EmailId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DrivingSchool.EmailId, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>