<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GadiSeekho</title>
    @Styles.Render("~/Content/Styles")
    @Styles.Render("~/Content/bower")
</head>
<body ng-app="Gadi" ng-controller="HomeController as model">
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header" style="width: 100%;">
            <div class="row">
                <div class="col-lg-3">
                    <img class="logo" src="~/Content/Images/imageedit_1_3018079433.png" />
                    <span class="logo-text">Gaadi Seekho</span>
                </div>
                <div class="col-lg-4">
                    @*<input type="text" class="form-control" name="searchLocation" placeholder="Search location" aria-required="true">*@
                    <input type="text" class="form-control" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.drivingSchoolData(searchField)" placeholder="Search for Driving School...">
                </div>
                <div class="col-lg-1">
                    <button type="button" class="btn bg-black waves-effect waves-light search-button" ng-click="model.drivingSchoolData(searchField)">Search</button>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn bg-black waves-effect waves-light search-button">Log off</a>
                        @Html.ActionLink("Reset Password", "ResetPassword", "Account")
                    }
                }
                else
                {
                    <div class="col-lg-1">
                        <a href="/Account/Login" class="btn bg-black waves-effect waves-light search-button">Login</a>
                    </div>
                }
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - GadiSeekho.Com</p>
    </footer>
</div>
@Scripts.Render("~/Scripts/bower")
@Scripts.Render("~/Scripts/Application")
@RenderSection("scripts", required: false)
</body>
</html>