@model Gadi.Models.StudentViewModel
@using Gadi.Business.Extensions
@*<div class="form-control-required-example"> = Required</div>*@

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.Name)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Student.Name, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.SonWifeDaughterOf)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.SonWifeDaughterOf, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Student.SonWifeDaughterOf, "", new {@class = "error"})
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.DateOfBirth)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-line">
            <div class="form-group">
                <daterange-picker value="@Model.Student.DateOfBirth.Formatted()" name="Student.DateOfBirth" id="Student_DateOfBirth" model="model.DateOfBirth"></daterange-picker>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.PlaceOfBirth)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.PlaceOfBirth, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Student.PlaceOfBirth, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.PresentAddress)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.PresentAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Student.PresentAddress, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.PermanantAddress)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.PermanantAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Student.PermanantAddress, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.OfficialAddress)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.OfficialAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Student.OfficialAddress, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.Education)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.Education, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Student.Education, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.BloodGroup)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.BloodGroup, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Student.BloodGroup, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.RHFactor)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.RHFactor, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Student.RHFactor, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.Mobile)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.Mobile, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Student.Mobile, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.ResidentialPhone)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.ResidentialPhone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Student.ResidentialPhone, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.OfficialPhone)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.OfficialPhone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Student.OfficialPhone, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.Email)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Student.Email, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        @Html.LabelFor(model => model.Student.Nationality)
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Student.Nationality, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Student.Nationality, "", new { @class = "error" })
            </div>
        </div>
    </div>
</div>