@model Gadi.Models.DriverFeedbackViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>@string.Format("{0}", Model.DriverFeedback.DriverFeedBackId)<small> Edit Driver Feedback</small></h2>
            </div>
            <div class="body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-danger" })
                                </div>
                            </div>
                        }
                        @Html.HiddenFor(model => Model.DriverFeedback.DriverFeedBackId)
                        @Html.HiddenFor(model => Model.DriverFeedback.DrivingSchoolId)
                        @Html.HiddenFor(model => Model.DriverFeedback.CreatedDate)
                        @Html.HiddenFor(model => Model.DriverFeedback.CreatedBy)
                        @Html.Partial("_DriverFeedback", Model)
                        <div class="row clearfix">
                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                <div class="form-group align-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>